@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom body and scrollbar styles */
body {
  background-color: #0D1117;
  color: #F9FAFB;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0D1117; 
}
::-webkit-scrollbar-thumb {
  background: #1F2937; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151; 
}